.verifiedKeyLogo {
  background-image: url(../images/green_check_circle.png) !important;
  background-repeat: no-repeat;
  width: 30px;
  display: inline-block;
  margin-left: 5px !important;
}

.hidden {
  display: none;
}

div.ebou-gdd-wrap {
  float: left;
  margin: 10px 30px 0 10px;
}
div.ebou-gdd-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
}
.ebou-gdd-long-select {
  height: auto !important;
  width: 250px;
}
div.ebou-gdd-wrap .mandatory:after {
  color: red;
  content: " *";
}
div.ebou-gdd-wrap a.disabled {
  pointer-events: none;
}
img.ebou-gdd-check {
  vertical-align: middle;
}
div#gdd-list {
  border: 1px solid #ccc;
  border-radius: 2px;
  min-height: 50px;
}
div#gdd-list ul > li {
  margin-left: 10px;
}
.ebou-gdd-error {
  background: none repeat scroll 0 0 #ffcccc;
  border: 1px solid #b80000;
  border-radius: 2px;
  color: #b80000;
  padding: 5px 2px;
  text-align: center;
}
li.ebou-gdd-item {
  cursor: pointer;
  list-style: outside none none;
}
li.ebou-gdd-item span {
}
li.ebou-gdd-item span.expand {
  display: inline-block;
  height: 16px;
  vertical-align: middle;
  width: 16px;
  background: url("../images/circle_plus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  cursor: pointer;
}
li.ebou-gdd-item span.collapse {
  display: inline-block;
  height: 16px;
  vertical-align: middle;
  width: 16px;
  background: url("../images/circle_minus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  cursor: pointer;
}

.selected {
  background-color: #86b6fd;
}
